body {
  font-family: Arial, Helvetica, sans-serif;
}

.symbol-form {
  position: relative;
  width: 250px;
  margin: 0 auto;
}
/*
.symbol-form .search-fill {
  width: 100%;
  height: 100px;
  overflow-y: auto;
  border: 1px solid black; 
  position: absolute;
  text-align: left;
  padding-left: 1.5em;
  font-size: 0.9em;
}
*/

.metrics {
  margin-bottom: 1.5em;
}
.metrics p {
  margin: 0 0 5% 0;
  padding: 0;
  text-align: left;
}
.chart {
  /* margin: 50px 1% 0 1%; */
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.error {
  position: relative;
  top: 0.5em;
  color: red;
  font-size: 0.8em;
  font-weight: 900;
}

.screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.9;
  z-index: 50;
}

.big {
  width: 50%;
  margin: auto;
  position: absolute;
  top: 15%;
  left: 15%;
  z-index: 99;
  background-color: white;
}

.small {
  height: 350px;
  width: 400px;
  padding-left: 10px;
  padding-right: 20px;
  position: relative;
}

#grey-screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: grey;
  opacity: 0.8;
  z-index: 50;
}

@media only screen and (max-width: 1200px) {
  #big-screen {
   display: none;
  }
}